.voting {
    width: 730px;
    &__inner {
        width: 100%;
        padding: 20px;
        background-color: var(--white);
        background-color: var(--white);
        border-radius: var(--br-regular);
    }
    &__nav {
        display: flex;
        column-gap: 10px;
    }
    &__title {
        text-align: center;
        padding: 5px 30px;
        border-radius: var(--br-small);
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: var(--white);
        background-color: var(--pink);
    }
    &__btn {
        &:hover {
            .voting__svg {
                fill: #fff;
            }
        }
    }
}