.button-nav {
    width: 40px;
    height: 40px;
    padding: 10px;
    transition: background-color .2s linear;
    border-radius: var(--br-small);
    &__svg > svg {
        fill: var(--pink);
        transition: fill .2s linear;
    }
    &:hover {
        background-color: var(--pink) !important;
        .button-nav__svg > svg {
            fill: var(--white);
        }
    }
}